#big-container{
    padding-top: 30px ;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.small-container{
    display: flex;
    flex-direction: column;
}

#img{
    display: none;
}

#close-button{
    display: none;
}
